body{
    background-color: rgb(201, 201, 164);
}
   h2{
       color: rgb(49, 179, 56);
       font-family: Verdana, Geneva, Tahoma, sans-serif;   
   } 
h1{
    color: brown;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    border: crimson;
}
div{
    font-family: cursive ;
    padding: 4px;
border-style: solid;
border-color: brown; 
}

    
h4{
    font-style: oblique;
}
    




    
